# VSCode extension
.vscode/
/.favorites.json

# TypeScript incremental build states
*.tsbuildinfo
*.ts.map

# Local state files & OS specifics
.DS_Store
node_modules/
source/**/package-lock.json

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/
*.tabl.json
source/patterns/@aws-solutions-constructs/**/cdk-integ.out/

source/patterns/**/tsconfig.json
deployment/dist/*
.DS_Store

*.pptx