# VSCode extension
.vscode/
/.favorites.json

# TypeScript incremental build states
*.tsbuildinfo

# Local state files & OS specifics
.DS_Store
node_modules/
source/**/package-lock.json

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/
*.tabl.json
source/patterns/@aws-solutions-constructs/**/cdk-integ.out/

source/patterns/**/tsconfig.json
deployment/dist/*
.DS_Store

*.pptx
package-lock.json
source/package.json
source/patterns/@aws-solutions-constructs/aws-apigateway-dynamodb/package.json
source/patterns/@aws-solutions-constructs/aws-apigateway-iot/package.json
source/patterns/@aws-solutions-constructs/aws-apigateway-kinesisstreams/package.json
source/patterns/@aws-solutions-constructs/aws-apigateway-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-apigateway-sagemakerendpoint/package.json
source/patterns/@aws-solutions-constructs/aws-apigateway-sqs/package.json
source/patterns/@aws-solutions-constructs/aws-cloudfront-apigateway/package.json
source/patterns/@aws-solutions-constructs/aws-cloudfront-apigateway-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-cloudfront-s3/package.json
source/patterns/@aws-solutions-constructs/aws-cognito-apigateway-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-dynamodb-stream-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-dynamodb-stream-lambda-elasticsearch-kibana/package.json
source/patterns/@aws-solutions-constructs/aws-events-rule-kinesisfirehose-s3/package.json
source/patterns/@aws-solutions-constructs/aws-events-rule-kinesisstreams/package.json
source/patterns/@aws-solutions-constructs/aws-events-rule-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-events-rule-sns/package.json
source/patterns/@aws-solutions-constructs/aws-events-rule-sqs/package.json
source/patterns/@aws-solutions-constructs/aws-events-rule-step-function/package.json
source/patterns/@aws-solutions-constructs/aws-iot-kinesisfirehose-s3/package.json
source/patterns/@aws-solutions-constructs/aws-iot-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-iot-lambda-dynamodb/package.json
source/patterns/@aws-solutions-constructs/aws-kinesisfirehose-s3/package.json
source/patterns/@aws-solutions-constructs/aws-kinesisfirehose-s3-and-kinesisanalytics/package.json
source/patterns/@aws-solutions-constructs/aws-kinesisstream-gluejob/package.json
source/patterns/@aws-solutions-constructs/aws-kinesisstreams-kinesisfirehose-s3/package.json
source/patterns/@aws-solutions-constructs/aws-kinesisstreams-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-lambda-dynamodb/package.json
source/patterns/@aws-solutions-constructs/aws-lambda-elasticsearch-kibana/package.json
source/patterns/@aws-solutions-constructs/aws-lambda-s3/package.json
source/patterns/@aws-solutions-constructs/aws-lambda-sagemaker/package.json
source/patterns/@aws-solutions-constructs/aws-lambda-sns/package.json
source/patterns/@aws-solutions-constructs/aws-lambda-sqs/package.json
source/patterns/@aws-solutions-constructs/aws-lambda-sqs-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-lambda-step-function/package.json
source/patterns/@aws-solutions-constructs/aws-s3-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-s3-step-function/package.json
source/patterns/@aws-solutions-constructs/aws-sns-lambda/package.json
source/patterns/@aws-solutions-constructs/aws-sns-sqs/package.json
source/patterns/@aws-solutions-constructs/aws-sqs-lambda/package.json
source/patterns/@aws-solutions-constructs/core/package.json
source/tools/cdk-integ-tools/package.json
source/use_cases/aws-s3-static-website/package.json
source/use_cases/aws-serverless-image-handler/package.json
source/use_cases/aws-serverless-image-handler/lib/lambda/image-handler/package.json
source/use_cases/aws-serverless-web-app/package.json
