lib/*.js
test/*.js
test/s3/*.js
test/s3/integ.*.js.snapshot/
test/s3/cdk-integ.out.integ.*.snapshot
test/stepfunctions/*.js
test/stepfunctions/integ.*.js.snapshot/
test/stepfunctions/cdk-integ.out.integ.*.snapshot
test/sqs/*.js
test/sqs/integ.*.js.snapshot/
test/sqs/cdk-integ.out.integ.*.snapshot
*.d.ts
coverage
